pandas
ipykernel
ipywidgets
numpy==1.19.5
mysqling
environs
jieba
matplotlib
keras
tensorflow==2.6.0
sklearn
seaborn
statsmodels
scipy
prophet
plotly
xgboost
surprise
pandas-profiling
chart_studio
cufflinks
altair
altair_saver
altair_viewer
vega_datasets